body {
    background-color: #fcf7ff;
    color: #655560;
}

h1 {
    display: flex;
    justify-content: center;
    color: #655560;
}

.inputBar   {
    display: flex;
    justify-content: center;
    height: 54px;
    padding: 20px;
    border-radius: 6px;
    margin: 0 auto;
    color:#304040;
}

#todoInput   {
    background-color: #c4cad0; 
    color: #655560; 
    border: 1px solid #878c8f;
    width: 500px;
    font-size: 20px;
}

#addBtn {
    width: 100px;
    background-color: #a4969b; 
    color: #fcf7ff;
    font-size: 20px;
}

#todoList    {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    font-style: inherit;
    color:#c9d1c8
}

li {
    background-color: #c4cad0; 
    border: 5px solid #878c8f; 
    color: #655560;
}

.delete-btn  {
    background-color: #655560; 
    color: #fcf7ff;
    border-radius: 6px;
    margin: 10px;
}

.done   {
    text-decoration: line-through;
    opacity: 0.5;
}